# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env/
.venv/
env/
venv/
ENV/
ENV.bak/
venv.bak/
*.env
*.venv

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
*.db
db.sqlite3
media/
staticfiles/
local_settings.py
settings_local.py

# Django migrations
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# Node modules (if using frontend tooling)
node_modules/

# IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# System files
Thumbs.db
ehthumbs.db
Desktop.ini

# Test & coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest_cache/
test-results/

# Jupyter Notebooks (if used)
.ipynb_checkpoints/

# dotenv files
.env
.env.*.local

# Docker
*.pid
